/*__pycache__/
dist/
.env
*.pyc
*.DS_Store
**/logs
.venv/
.vscode/
hotpot/.claude
social_media_datastreams
__main__.log
hotpot/LATS_Algorithm_Explanation.md
hotpot/hotpot_models.log
hotpot/models.log
debug.ipynb
*.log